<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="openDialog()">
    Dodaj Zadanie
  </button>
</div>

<mat-accordion [multi]="true">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dzisiaj
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let todayTask of todayTasks">
        <mat-list-item>
          <i class="material-icons star">star</i>
          {{ todayTask.name }}
          <button mat-icon-button>
            <mat-icon (click)="edit(todayTask.id)" color="black">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="delete(todayTask.id)" color="black"
              >delete</mat-icon
            >
          </button>
          <span class="details">
            <mat-chip-list>
              <mat-chip [color]="returnColor(todayTask.taskTopic)" selected>{{
                todayTask.taskTopic
              }}</mat-chip>
            </mat-chip-list>
            {{ todayTask.deadline }}
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Jutro
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let tomorrowTask of tomorrowTasks">
        <mat-list-item>
          <i class="material-icons star">star</i>
          {{ tomorrowTask.name }}
          <button mat-icon-button>
            <mat-icon (click)="edit(tomorrowTask.id)" color="black"
              >edit</mat-icon
            >
          </button>
          <button mat-icon-button>
            <mat-icon (click)="delete(tomorrowTask.id)" color="black"
              >delete</mat-icon
            >
          </button>
          <span class="details">
            <mat-chip-list>
              <mat-chip
                [color]="returnColor(tomorrowTask.taskTopic)"
                selected
                >{{ tomorrowTask.taskTopic }}</mat-chip
              >
            </mat-chip-list>
            {{ tomorrowTask.deadline }}
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nadchodzące
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let upcomingTask of upcomingTasks">
        <mat-list-item>
          <i class="material-icons star">star</i>
          {{ upcomingTask.name }}
          <button mat-icon-button>
            <mat-icon (click)="edit(upcomingTask.id)" color="black"
              >edit</mat-icon
            >
          </button>
          <button mat-icon-button>
            <mat-icon (click)="delete(upcomingTask.id)" color="black"
              >delete</mat-icon
            >
          </button>

          <span class="details">
            <mat-chip-list>
              <mat-chip
                [color]="returnColor(upcomingTask.taskTopic)"
                selected
                >{{ upcomingTask.taskTopic }}</mat-chip
              >
            </mat-chip-list>
            {{ upcomingTask.deadline }}
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nowe
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <div *ngFor="let newTask of newTasks">
        <mat-list-item>
          <i class="material-icons star">star</i>
          {{ newTask.name }}
          <button mat-icon-button>
            <mat-icon (click)="edit(newTask.id)" color="black">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="delete(newTask.id)" color="black"
              >delete</mat-icon
            >
          </button>
          <span class="details">
            <mat-chip-list>
              <mat-chip [color]="returnColor(newTask.taskTopic)" selected>{{
                newTask.taskTopic
              }}</mat-chip>
            </mat-chip-list>
            {{ newTask.deadline }}
          </span>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
